.container{
    margin-top:10px;
}
.oculto{
    display: none!important ;
}
#Exchange{
    border:solid 2px rgb(146, 146, 146);
    border-radius: 5px;
    padding: 1%;
}
.table{
    border:solid 2px rgb(146, 146, 146);
    border-radius: 5px;
    padding: 1%;
}
